.adminlogbg{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/299/989/94/watch-hi-tech-hq-s-hd3-slyde-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
