@media screen and (max-width:600px){
    .footer{
        font-size: medium;
    }
}

.nav-item{
    width: calc(33.33% -10px);
}

.nav .active{
    color: #fff;
    background-color: coral;
    border: beige;
    border-radius: 10px;
}

.nav-link{
    color: #ffcc00;
}